<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutorApp"
        tools:targetApi="31">
        <activity
            android:name=".activites.SelectProfilePictureView"
            android:exported="false" />
        <activity
            android:name=".activites.ReserveTermView"
            android:exported="false" />
        <activity
            android:name=".activites.TeacherAccountView"
            android:exported="false" />
        <activity
            android:name=".activites.TutorBrowserView"
            android:exported="false" />
        <activity
            android:name=".activites.SubjectView"
            android:exported="false" />
        <activity
            android:name=".activites.AddingTermView"
            android:exported="false" />
        <activity
            android:name=".activites.TeacherTermsView"
            android:exported="false" />
        <activity
            android:name=".activites.MeetingsView"
            android:exported="false" />
        <activity
            android:name=".activites.StudentMainView"
            android:exported="false" />
        <activity
            android:name=".activites.RegisterView"
            android:exported="false" />
        <activity
            android:name=".activites.LoginView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.TeacherMainView"
            android:exported="true" />
    </application>

</manifest>